.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: hsl(290, 52%, 47%);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFF;
}

.header nav {
	float: right;
	font-size: 100%;
	text-transform: uppercase;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
	transition: all 0.2s ease-in-out;
}

.header nav a:hover,
.header nav a:active {
	background: hsla(290, 60%, 20%, 0.2);
	transition: all 0.2s ease-in-out;
	
}

.header nav a.active {
	background: hsl(290, 52%, 68%, 0.4);
	transition: all 0.2s ease-in-out;
}
