/* =================================================================
 * Definições globais de sombras
 * ================================================================= 
 * 
 */

div .surface:hover,
div .surface:focus {
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
    transition: ease-in-out 0.2s;
}

.rad-shadow {
  border: 1px solid hsl(var(--brand-hue) 10% 80% / 80%);
  box-shadow: 0 2rem 1.5rem 1.5rem;
  box-shadow: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.9)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.1)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
    transition: ease-in-out 0.2s;
}