$color-brand: hsl(238, 58%, 21%);
$color-primary: hsl(58, 58%, 55%);
$color-secondary: hsl(187, 100%, 50%);
$color-tertiary: hsl(312, 100%, 79%);
$color-bg: rgb(116, 116, 116);
$color-text: hsl(238, 0%, 13%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-brand: #{$color-brand};
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-tertiary: #{$color-tertiary};
    --color-bg: #{$color-bg};
    --color-text: #{$color-text};
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-primary);
    padding: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    background: var(--color-secondary);
    //position: relative;
    border: 1px solid var(--color-tertiary);
    & > * {
        padding: 2em;
        flex-basis: calc(calc(25em - 100%)*9999);
        //flex-shrink: 1;
        flex-grow: 1;
        border: 1px solid var(--color-text);
        background: var()
    }   
}